<h1>All</h1>
<table>
  <thead>
    <tr>
      <td>原網址</td>
      <td>縮短網址</td>
    </tr>
  </thead>
  <% @urls.each do |url| %>
    <tbody>
      <tr>
        <td><%= url.origin_url %></td>
        <td><%= link_to "#{url.shorten_url}", url.origin_url %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= link_to '返回產生器', "/"  %>
  